tangminet/topaiebiz-member/src/main/java/com/topaiebiz/member/point/crm/ws/CRMContactWS.WSDL.bak

<?xml version="1.0" encoding="UTF-8"?>
<definitions
        xmlns="http://schemas.xmlsoap.org/wsdl/"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        targetNamespace="http://siebel.com/asi/BYM"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:tns="http://siebel.com/asi/BYM"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://schemas.xmlsoap.org/wsdl/soap/
http://schemas.xmlsoap.org/wsdl/soap/ ">
    <types
    ></types
    >
    <message
            name="ContactUpsert_Input"
    >
        <part
                name="InXml"
                type="xsd:string"
        ></part
        >
        <part
                name="Source"
                type="xsd:string"
        ></part
        >
    </message
    >
    <message
            name="ContactUpsert_Output"
    >
        <part
                name="BabyId"
                type="xsd:string"
        ></part
        >
        <part
                name="ContactId"
                type="xsd:string"
        ></part
        >
        <part
                name="ErrCode"
                type="xsd:string"
        ></part
        >
        <part
                name="ErrDesc"
                type="xsd:string"
        ></part
        >
        <part
                name="HouseId"
                type="xsd:string"
        ></part
        >
    </message
    >
    <message
            name="ContactQuery_Input"
    >
        <part
                name="PageSize"
                type="xsd:string"
        ></part
        >
        <part
                name="SortSpec"
                type="xsd:string"
        ></part
        >
        <part
                name="ViewMode"
                type="xsd:string"
        ></part
        >
        <part
                name="Source"
                type="xsd:string"
        ></part
        >
        <part
                name="StartRowNum"
                type="xsd:string"
        ></part
        >
        <part
                name="SearchExpr"
                type="xsd:string"
        ></part
        >
    </message
    >
    <message
            name="ContactQuery_Output"
    >
        <part
                name="ErrCode"
                type="xsd:string"
        ></part
        >
        <part
                name="ErrDesc"
                type="xsd:string"
        ></part
        >
        <part
                name="LastPage"
                type="xsd:string"
        ></part
        >
        <part
                name="OutXml"
                type="xsd:string"
        ></part
        >
    </message
    >
    <portType
            name="ContactUpsert"
    >
        <operation
                name="ContactUpsert"
        >
            <input
                    message="tns:ContactUpsert_Input"
            ></input
            >
            <output
                    message="tns:ContactUpsert_Output"
            ></output
            >
        </operation
        >
    </portType
    >
    <portType
            name="ContactQuery"
    >
        <operation
                name="ContactQuery"
        >
            <input
                    message="tns:ContactQuery_Input"
            ></input
            >
            <output
                    message="tns:ContactQuery_Output"
            ></output
            >
        </operation
        >
    </portType
    >
    <binding
            name="ContactUpsert"
            type="tns:ContactUpsert"
    >
        <soap:binding
                transport="http://schemas.xmlsoap.org/soap/http"
                style="rpc"
        ></soap:binding
        >
        <operation
                name="ContactUpsert"
        >
            <soap:operation
                    soapAction="rpc/http://siebel.com/asi/BYM:ContactUpsert"
            ></soap:operation
            >
            <input
            >
                <soap:body
                        namespace="http://siebel.com/asi/BYM"
                        use="literal"
                ></soap:body
                >
            </input
            >
            <output
            >
                <soap:body
                        namespace="http://siebel.com/asi/BYM"
                        use="literal"
                ></soap:body
                >
            </output
            >
        </operation
        >
    </binding
    >
    <binding
            name="ContactQuery"
            type="tns:ContactQuery"
    >
        <soap:binding
                transport="http://schemas.xmlsoap.org/soap/http"
                style="rpc"
        ></soap:binding
        >
        <operation
                name="ContactQuery"
        >
            <soap:operation
                    soapAction="rpc/http://siebel.com/asi/BYM:ContactQuery"
            ></soap:operation
            >
            <input
            >
                <soap:body
                        namespace="http://siebel.com/asi/BYM"
                        use="literal"
                ></soap:body
                >
            </input
            >
            <output
            >
                <soap:body
                        namespace="http://siebel.com/asi/BYM"
                        use="literal"
                ></soap:body
                >
            </output
            >
        </operation
        >
    </binding
    >
    <service
            name="CRMContactWS"
    >
        <port
                binding="tns:ContactUpsert"
                name="ContactUpsert"
        >
            <soap:address
                    location="http://115.236.166.212/eai_anon_chs/start.swe?SWEExtSource=AnonWebService&amp;SWEExtCmd=Execute"
            ></soap:address
            >
        </port
        >
        <port
                binding="tns:ContactQuery"
                name="ContactQuery"
        >
            <soap:address
                    location="http://115.236.166.212/eai_anon_chs/start.swe?SWEExtSource=AnonWebService&amp;SWEExtCmd=Execute"
            ></soap:address
            >
        </port
        >
    </service
    >
</definitions
>